/* ========= START HEADER STYLES =============== */

.header {
  display: grid;
  grid-template-columns: 454px 148px 450px;
  align-items: center;
  padding: 92px 24px 94px 24px;
  font-size: 18px;
}

/* Nav menu */

.header__menu {
  width: 454px;
  padding: 44px 36px 40px 26.5px;
}

.header__menu-list {
  display: flex;
  gap: 34px;
}

.header__menu-item {
  text-underline-offset: 4px;
  list-style-type: circle;
}

.header__menu-item_no-bullit {
  list-style-type: none;
}

.header__menu-item_no-bullit .header__menu-link {
  text-decoration: none;
}

/* Logo */

.header__logo-image {
  width: 148px;
  height: 105px;
}

/* Address */

.address {
  padding-left: 184px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

/* =============== END HEADER STYLES =============== */

/* =============== START COVER SECTION STYLES =============== */

.cover {
  min-height: 757px;
  height: 100%;
  padding: 165px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ),
  url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* H1 title*/

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

/* Span alignment */

.aligned-text_center {
  text-align: center;
  line-height: 100%;
}

.aligned-text_right {
  text-align: right;
  line-height: 100%;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

/* Description */

.cover-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.cover__description-text {
  padding-left: 28px;
  text-align: center;
  word-spacing: 18px;
}

/* Description -> Button */

.cover__description-button {
  text-decoration: none;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

/* =============== END COVER SECTION STYLES =============== */

/* =============== START LOTS SECTION STYLES =============== */


.lots {
  margin-bottom: 146px;
  padding: 179px 24px 0px 24px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 27px;
  padding-left: 40px;
}

/* Cards list */

.lots__card-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding-bottom: 30px;
}

.lots__card-list-item {

  width: 334px;
  min-height: 563px;
  flex-grow: 1;
}

/* Cards */

.card-link {
  height: 100%;
  display: block;
  text-decoration: none;
}

.card {
  padding: 51px 40px 48px 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 3 Cards types */

.card_type_film {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ),
  url(/images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ),
  url(/images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ),
  url(/images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Cards inside */

.card__title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.card__text {
  align-self: flex-end;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

/* Look more link */

.lots__look-more-link {
  padding-left: 40px;
  font-size: 20px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

/* =============== END LOTS SECTION STYLES =============== */

/* =============== START ABOUT SECTION STYLES =============== */

.about {
  width: 1052px;
  height: 595px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 181px;
  padding-top: 35px;
  display: grid;
  grid-template-columns: 334px 1fr;
}

.about__logo {
  display: flex;
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  justify-self: center;
}

.about__logo-image {
  display: block;
  margin: auto;
  width: 148px;
  height: 114px;
  flex-shrink: 0;
}

.about__column {
  padding-top: 101px;
  padding-left: 25px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;

}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}



/* =============== END ABOUT SECTION STYLES =============== */

/* =============== START FOOTER SECTION STYLES =============== */

.footer {
  padding: 0px 50px 88px 50px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;

}

.footer__address {
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.footer__menu-list {
  padding-left: 40px;
  text-align: center;
  list-style-type: none;
}

.footer__menu-list-item {
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  list-style-type: none;
  gap: 48px;
}

/* =============== END FOOTER SECTION STYLES =============== */
